<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Микро сервисы</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #FFFFFF;
            color: #36454F;
        }
        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 200px;
            background-color: #36454F;
            color: #FFFFFF;
            padding: 20px;
        }
        .sidebar a {
            color: #D9B08C;
            text-decoration: none;
        }
        .sidebar a:hover {
            color: #AF9A7D;
        }
        .main-content {
            margin-left: 220px;
            padding: 20px;
        }
        h1 {
            color: #AF9A7D;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h1>Микро сервисы</h1>
        <ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="/process">Типограф</a></li>
            <li><a href="/parser">Парсер</a></li>
            <li><a href="/upload">Загрузка изображений</a></li>
          <li><a href="/sms">Разметка СМС</a></li>
          <li><a href="/upload-html">Сжать код</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h1 id="home"></p>
    </div>
</body>
</html>
