<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload HTML File</title>
</head>
<body>
  <h1>Upload HTML File for Compression</h1>
  <form action="/compress-html" method="post" enctype="multipart/form-data">
    <input type="file" name="htmlfile" accept=".html">
    <button type="submit">Upload and Compress</button>
  </form>
</body>
</html>
