
<html>
<head>
  <title>Сжатие HTML-кода</title>
</head>
<body>
  
Сжатие HTML-кода

  <form action="/compress" method="POST" enctype="multipart/form-data">
    <label for="htmlFile">Выберите HTML-файл для сжатия:</label>
    <input type="file" name="htmlFile" id="htmlFile" />
    Сжать
  </form>
</body>
</html>